html,
body {
  width: 100%;
  height: 100%;
  background-color: #1f2d3d;
  color: #f7f9fa;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

#header {
  padding: 25px;
}

#call {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#world {
  display: none;
  width: calc(90% - 250px);
  height: 100%;
  padding-left:25px;
}

#nav {
  padding-left: 25px;
}

#nav #entry {
  width: 300px;
}
#nav #entry .field {
  display: flex;
  margin: 5px 0;
}

#nav #entry label {
  width: 100px;
}

#controls {
  display: none;
}

#focus {
  display: block;
  width: 250px;
  padding-left: 25px;
}

#broadcast {
  display: block;
  width: 100%;
  height: 140px;
}

#zonemates {
  display: block;
  width: 100%;
}

#zonemates .zonemateVid {
  background-image: linear-gradient(45deg, #121a24, #2b3f56);
}

#broadcastVideo {
}

.invisible {
  display: none;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
