body {
  width: 100%;
  height: 100%;
}

#world {
  display: none;
}

#controls {
  display: none;
}

#broadcast {
  display: inline-block;
  width: 250px;
  height: 140px;
}

#zonemates {
  display: inline-block;
  width: 250px;
}

#zonemates .zonemateVid {
  background-image: linear-gradient(45deg, #121a24, #2b3f56);
}

#broadcastVideo {
}

.invisible {
  display: none;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
