:root {
  --grey-lightest: #f7f9fa;
  --white: #ffffff;
  --grey: #c8d1dc;
  --dark-grey: #6b7785;
  --dark-blue: #1f2d3d;
  --dark-blue-border: #2b3f56;
  --green: #72cc18;
  --red-dark: #bb0c0c;
  --font-family: GraphikRegular, "Helvetica Neue", Sans-Serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

[draggable] {
  cursor: grab;
}

.header {
  background-color: #fff;
  min-width: 100%;
  height: 52px;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: inset 0px -1px 0p var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  width: 325px;
  margin-left: 16px;
}

.daily-logo {
  height: 24px;
  width: 60px;
  margin-right: 24px;
}

.header-title {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-family);
}

.right-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 24px;
}

.title {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.docs-button {
  justify-content: space-between;
}

.white-button {
  color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--grey);
  padding: 8px 16px;
  border-radius: 8px;
  flex: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.divider {
  background: var(--grey);
  margin: 0 16px;
  display: block;
  height: 32px;
  width: 1px;
}

.octocat {
  height: 24px;
  width: 24px;
}

.wrapper {
  width: 100%;
  height: calc(100% - 52px);
  top: 52px;
  background-color: var(--grey-lightest);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
}

#call {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#controls {
  display: flex;
  position: absolute;
  z-index: 5;
  flex-direction: row;
  align-items: center;

  height: 56px;

  left: calc(50% - 265px / 2);
  top: calc(100% - 60px);

  background: rgb(230 234 239);
  border: 0.5px solid rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(36px);
  border-radius: 5px;
}

#toggleCam,
#toggleMic,
#toggleScreenShare {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  size: 10px;
}

#leave {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #f63135;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  width: 95px;
  height: 32px;
}

#controls button {
  margin: 0 5px;
  cursor: pointer;
}

#controls .cam-on {
  background-image: url("./camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#controls .cam-off {
  background-image: url("./camera-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#controls .mic-on {
  background-image: url("./microphone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#controls .mic-off {
  background-image: url("./microphone-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#controls .screen-off {
  background-image: url("./screen-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#controls .screen-on {
  background-image: url("./screen-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#toggleCam:hover,
#toggleMic:hover,
#toggleScreen:hover {
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 5px;
}

#toggleScreenShare:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

#world {
  display: block;
  width: 100%;
  height: 100%;
}

#entry {
  width: 300px;
  height: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

#entry .prompt {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}

#entry input {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  font-family: var(--font-family);
}

#entry button {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  font-weight: bold;
  background: var(--green);
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
}

#focus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#zonemates {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  flex-flow: column wrap;
  align-content: flex-end;
  height: calc(180px * 2);
}

.invisible {
  display: none;
}

.fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.inWorldVideo {
  object-fit: cover;
  width: 94px;
  height: 94px;
}

#focus #broadcast {
  display: flex;
  visibility: hidden;
  justify-content: center;
}

#focus .name {
  color: rgb(53, 48, 48);
  font-weight: 600;
  z-index: 2;
  background: #121a24;
  font-size: large;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  top: calc(100% - 20px);
  box-sizing: border-box;
  text-align: center;
}

#focus .camera {
  position: relative;
  display: flex;
  z-index: 1;
  margin-bottom: 18px;
  justify-content: center;
  width: 200px;
  height: 160px;
  border-radius: 25px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, #121a24, #2b3f56);
}

#focus .zonemate {
  position: relative;
}

#focus .screen {
  position: relative;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

#focus video {
  border-radius: 25px;
}
